In [1]:
import json
import requests
import re
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from pandas import json_normalize
from datetime import datetime
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from cfuzzyset import cFuzzySet as FuzzySet

In [4]:
df = pd.read_csv('blackstone_operations.csv')
df

,Unnamed: 0,Three Months Ended 2023,Three Months Ended 2022
0,Investment income:,NaN,NaN
1,Interest income,254221000.0,1.709890e+08
2,Payment in-kind interest income,9841000.0,8.686000e+06
3,Dividend income,—,5.908000e+06
4,Fee income,876000.0,1.400000e+04
5,Total investment income,264938000.0,1.855970e+08
6,Expenses:,NaN,NaN
7,Interest expense,66728000.0,4.030100e+07
8,Management fees (Note 3),24696000.0,2.563600e+07
9,Income based incentive fees (Note 3),30393000.0,2.128400e+07
10,Capital gains incentive fees (Note 3),-1556000.0,6.810000e+05
11,Professional fees,1188000.0,7.070000e+05
12,Board of Trustees' fees,225000.0,1.810000e+05
13,Administrative service expenses (Note 3),378000.0,8.400000e+05
14,Other general and administrative,1605000.0,1.327000e+06
15,Total expenses,123657000.0,9.095700e+07
16,Management fees waived (Note 3),-6174000.0,-6.409000e+06
17,Incentive fees waived (Note 3),-4342000.0,-3.040000e+06
18,Net expenses,113141000.0,8.150800e+07
19,Net investment income before excise tax,151797000.0,1.040890e+08
20,Excise tax expense,2622000.0,1.386000e+06
21,Net investment income after excise tax,149175000.0,1.027030e+08
22,Realized and unrealized gain (loss):,NaN,NaN
23,Net change in unrealized appreciation (depreci...,NaN,NaN
24,Non-controlled/non-affiliated investments,-6762000.0,-2.073000e+06
25,Non-controlled/affiliated investments,-4641000.0,-7.400000e+04
26,Translation of assets and liabilities in forei...,-3141000.0,7.350000e+05
27,Net unrealized appreciation (depreciation),-14544000.0,-1.412000e+06
28,Realized gain (loss):,NaN,NaN
29,Non-controlled/non-affiliated investments,-3486000.0,5.382000e+06
30,Foreign currency transactions,7653000.0,5.670000e+05
31,Net realized gain (loss),4167000.0,5.949000e+06
32,Net realized and unrealized gain (loss),-10377000.0,4.537000e+06
33,Net increase (decrease) in net assets resultin...,138798000.0,1.072400e+08
34,Net investment income per share (basic and dil...,0.93,6.100000e-01
35,Earnings per share (basic and diluted),0.86,6.300000e-01
36,Weighted average shares outstanding (basic and...,160501868.0,1.695569e+08

In [5]:
list_of_headers = [
    {
        'row_title': 'ASSETS',
        'search_strings': [], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Investments at fair value',
        'search_strings': [], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Non-controlled/non-affiliated investments',
        'search_strings': ['non controlled unaffiliated investments', 'non controlled non affiliated investments', 'non controlled non affiliate company investments', 'non controlled non affiliated company investments', 'non control non affiliate investments', 'non controlled non affiliate investments'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Controlled/affiliated investments',
        'search_strings': ['control investments ', 'controlled affiliate company investments', 'controlled affiliated investments'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Non-controlled/affiliated investments',
        'search_strings': ['non controlled affiliated investments', 'non controlled affiliate company investments', 'non controlled affiliated company investments', 'affiliate investments'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Total investments at fair value',
        'search_strings': ['total investments at fair value', 'total investments'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Cash',
        'search_strings': ['cash', 'cash and cash equivalents'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Restricted cash',
        'search_strings': ['restricted cash', 'restricted cash and cash equivalents'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Interest receivable',
        'search_strings': ['interest receivable', 'interest and fees receivable', 'interest and dividends receivable', 'interest and dividend receivable and other assets', 'interest receivable from non controlled non affiliated investments'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Receivable for investments sold',
        'search_strings': ['receivable for open trades', 'receivable from unsettled transactions', 'receivable for investments sold', 'receivable for investments sold and repaid', 'receivable for securities sold', 'receivables for:', 'receivable from a controlled affiliate'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Prepaid expenses and other assets',
        'search_strings': ['other assets', 'prepaid expenses and other assets', 'prepaid expenses'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Deferred financing costs',
        'search_strings': ['deferred financing fees', 'deferred financing costs', 'deferred financing costs on revolving credit facility'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Total assets',
        'search_strings': ['total assets'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'LIABILITIES',
        'search_strings': [], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Debt',
        'search_strings': ['debt'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Management fees payable',
        'search_strings': ['base management fees payable', 'management fees payable', 'management fee payable', 'management and incentive fees payable'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Payable for investments purchased',
        'search_strings': ['payable for investments purchased'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Dividends payable',
        'search_strings': ['dividends payble', 'dividend payable'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Incentive fees payable',
        'search_strings': ['capital gains incentive fees payable', 'incentive management fees payable', 'incentive fees payable'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Income incentive fees payable',
        'search_strings': ['subordinated income incentive fees payable', 'income based fees payable', 'income based incentive fees payable'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Interest payable',
        'search_strings': ['interest and facility fees payable', 'interest payable', 'interest and other debt expenses payable'], 
         'value1': None,
        'value2': None
    },
    {
        'row_title': 'Accounts payable and other liabilities',
        'search_strings': ['accounts payable and other liabilities', 'accounts payable and accrued liabilities'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Credit facilities',
        'search_strings': ['secured borrowings', 'borrowings under credit facilities', 'credit facilities', 'revolving credit facility'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Accrued expenses',
        'search_strings': ['accrued expenses', 'accrued offering costs', 'accrued expenses and other liabilities', 'accrued trustee fees', 'other accrued expenses and liabilities'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Total liabilities',
        'search_strings': ['total liabilities'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'NET ASSETS',
        'search_strings': [], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Common stock',
        'search_strings': ['common stock'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Preferred stock',
        'search_strings': ['preferred stock'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Paid-in capital in excess of par',
        'search_strings': ['paid in capital in excess of par', 'capital in excess of par value', 'additional paid in capital'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Total distributable earnings',
        'search_strings': ['accumulated undistributed overdistributed earnings', 'total distributable earnings loss', 'total undistributed earnings', 'total distributable loss earnings', 'retained earnings'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Total net assets',
        'search_strings': ['total net assets', 'total stockholders equity'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Total liabilites and net assets',
        'search_strings': ['total liabilities and stockholders  equity', 'total liabilities and net assets', 'total liabilities and total net assets'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Net assets per share',
        'search_strings': ['net assets per share', 'net asset value per share', 'net asset value per common share', 'net asset value per share of common stock at period end'], 
        'value1': None,
        'value2': None
    },
]

# Create a DataFrame from the list_of_headers
desired_columns = ['row_title', 'value1', 'value2']
df = pd.DataFrame([{key: d[key] for key in desired_columns} for d in list_of_headers])

print(df)

                                    row_title value1 value2
0                                      ASSETS   None   None
1                   Investments at fair value   None   None
2   Non-controlled/non-affiliated investments   None   None
3           Controlled/affiliated investments   None   None
4       Non-controlled/affiliated investments   None   None
5             Total investments at fair value   None   None
6                                        Cash   None   None
7                             Restricted cash   None   None
8                         Interest receivable   None   None
9             Receivable for investments sold   None   None
10          Prepaid expenses and other assets   None   None
11                   Deferred financing costs   None   None
12                               Total assets   None   None
13                                LIABILITIES   None   None
14                                       Debt   None   None
15                    Management fees payable   None   None
16          Payable for investments purchased   None   None
17                          Dividends payable   None   None
18                     Incentive fees payable   None   None
19              Income incentive fees payable   None   None
20                           Interest payable   None   None
21     Accounts payable and other liabilities   None   None
22                          Credit facilities   None   None
23                           Accrued expenses   None   None
24                          Total liabilities   None   None
25                                 NET ASSETS   None   None
26                               Common stock   None   None
27                            Preferred stock   None   None
28           Paid-in capital in excess of par   None   None
29               Total distributable earnings   None   None
30                           Total net assets   None   None
31            Total liabilites and net assets   None   None
32                       Net assets per share   None   None

In [25]:
def clean_text(row):
    # Strip out special characters/punction
    text = row.lower().strip()
    stripped_string = re.sub(r'[^a-zA-Z0-9\s]+', ' ', text)
    return stripped_string

def average_score(row, terms):
    # find average fuzzy score among all variations of one row title
    total_score = 0
    for search_string in terms:
        score = fuzz.partial_ratio(row, search_string)
        total_score += score
    if len(terms) != 0:
        average_score = total_score / len(terms) 
    else:
        average_score = 0
    return average_score 
    
def return_best_match(row, type_list):
    # return row title of best match
    row = clean_text(row)
    highest_average = 0
    winner = pd.NA
    for header in type_list:
        score = average_score(row, header['search_strings'])
        if score > highest_average:
            highest_average = score
            winner = header['row_title']
    for header in type_list:
        for search_string in header['search_strings']:
            if search_string == row or search_string in row:
                winner = header['row_title']
                
    return winner

In [14]:
# open csv file and iterate over each row
df = pd.read_csv('main_street_capital_assets_and_liabilities.csv')

for index, row in df.iterrows():
    header = return_best_match(row.iloc[0], list_of_headers)
    first_value = row.iloc[1]
    sec_value = row.iloc[2]
    # Store the value in list_of_headers
    for item in list_of_headers:
        if item['row_title'] == header:
            item['value1'] = first_value
            item['value2'] = sec_value

# Create a DataFrame from the list_of_headers
desired_columns = ['row_title', 'value1', 'value2']
df1 = pd.DataFrame([{key: d[key] for key in desired_columns} for d in list_of_headers])

print(df1)

                                    row_title         value1        value2
0                                      ASSETS           None           NaN
1                   Investments at fair value           None           NaN
2   Non-controlled/non-affiliated investments  11861000000.0  1.202600e+10
3           Controlled/affiliated investments   1746003000.0  1.703172e+09
4       Non-controlled/affiliated investments   1788687000.0  1.780646e+09
5             Total investments at fair value   4160917000.0  4.102177e+09
6                                        Cash     39752000.0  4.912100e+07
7                             Restricted cash     18000000.0  3.400000e+07
8                         Interest receivable    275000000.0  2.270000e+08
9             Receivable for investments sold       505000.0  3.810000e+05
10          Prepaid expenses and other assets     84597000.0  8.273100e+07
11                   Deferred financing costs      7484000.0  7.475000e+06
12                               Total assets   4293255000.0  4.241885e+09
13                                LIABILITIES           None           NaN
14                                       Debt    148578000.0  9.932500e+07
15                    Management fees payable     58000000.0  5.900000e+07
16          Payable for investments purchased              —  1.400000e+07
17                          Dividends payable     18036000.0  1.767600e+07
18                     Incentive fees payable     29000000.0  3.500000e+07
19              Income incentive fees payable     46000000.0  2.700000e+07
20                           Interest payable     18671000.0  1.658000e+07
21     Accounts payable and other liabilities     39759000.0  5.209200e+07
22                          Credit facilities    564000000.0  6.070000e+08
23                           Accrued expenses     15000000.0  2.900000e+07
24                          Total liabilities   2120333000.0  2.133299e+09
25                                 NET ASSETS           None           NaN
26                               Common stock          797.0  7.840000e+02
27                            Preferred stock              0  0.000000e+00
28           Paid-in capital in excess of par   2083175000.0  2.030531e+09
29               Total distributable earnings     88950000.0  7.727100e+07
30                           Total net assets   2172922000.0  2.108586e+09
31            Total liabilites and net assets   4293255000.0  4.241885e+09
32                       Net assets per share          27.23  2.686000e+01

In [1236]:
# Create table scraps
table_scraps = []
df2 = pd.DataFrame(table_scraps, columns=['row_title', 'value1', 'value2'])

for index, row in df.iterrows():
    count = 0
    for index1, row1 in df1.iterrows():
        if row.iloc[1] != row1.iloc[1] and row.iloc[2] != row1.iloc[2]:
            count += 1
            #print(str(row.iloc[1]) + str(row1.iloc[1]))
    if (count == len(df1)):
        if clean_text(row.iloc[0]) != 'assets' and clean_text(row.iloc[0]) != 'investments at fair value' and clean_text(row.iloc[0]) != 'investments  at fair value' and clean_text(row.iloc[0]) != 'liabilities' and clean_text(row.iloc[0]) != 'stockholders  equity' and clean_text(row.iloc[0]) != 'net assets':
            new_row = [row.iloc[0], row.iloc[1], row.iloc[2]]
            df2.loc[len(df2)] = new_row

print(df2)

                                           row_title        value1  \
0  Debt (net of debt issuance costs of $7,928 and...  1935409000.0
1             Commitments and contingencies (Note 8)           NaN

         value2
0  2012660000.0
1           NaN

In [1237]:
operations_list = [
    {
        'row_title': 'EXPENSES',
        'search_strings': [], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Interest expense',
        'search_strings': ['interest and credit facility fees', 'interest and other financing fees', 'interest and other debt expenses', 'interest', 'interest and other debt financing expenses', 'interest expense'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Base management fees',
        'search_strings': ['base management fees', 'base management fee (Note 2)', 'management fees'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Incentive fees',
        'search_strings': ['capital gains incentive fees', 'incentive management fees', 'incentive fees', 'incentive fee', 'income incentive fee', 'subordinated income incentive fee', 'income based incentive fee'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Administrative fees',
        'search_strings': ['administrative fees', 'administrative service fee', 'administrative services expenses'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'General and administrative expenses',
        'search_strings': ['other general and administrative', 'general and administrative expenses', 'general and administrative', 'other general and administrative expenses'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Total expenses',
        'search_strings': ['total expenses', 'total operating expenses'], 
        'value1': None,
        'value2': None
    },
]

# Create a DataFrame from the operations_list
desired_columns = ['row_title', 'value1', 'value2']
op_df = pd.DataFrame([{key: d[key] for key in desired_columns} for d in operations_list])

print(op_df)

                             row_title value1 value2
0                             EXPENSES   None   None
1                     Interest expense   None   None
2                 Base management fees   None   None
3                       Incentive fees   None   None
4                  Administrative fees   None   None
5  General and administrative expenses   None   None
6                       Total expenses   None   None

In [214]:
investment_income_list = [
    {
        'row_title': 'Investment income',
        'search_strings': [], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Non-controlled, non-affiliated investments: Interest income',
        'search_strings': ['from non controlled non affiliate company investments interest income', 'from non controlled non affiliated investments interest income', 'non control non affiliate investments interest income', 'investment income from non controlled  non affiliated investments interest income'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Non-controlled, non-affiliated investments: Dividend income',
        'search_strings': ['from non controlled non affiliate company investments dividend income', 'from non controlled non affiliated investments dividend income', 'non control non affiliate investments dividend income', 'investment income from non controlled  non affiliated investments dividend income'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Non-controlled, non-affiliated investments: Payment-in-kind income',
        'search_strings': ['from non controlled non affiliate company investments payment in kind interest income', 'from non controlled non affiliated investments payment in kind interest income', 'non control non affiliate investments payment in kind interest income', 'investment income from non controlled  non affiliated investments payment in kind interest income'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Non-controlled, non-affiliated investments: Other income',
        'search_strings': ['from non controlled non affiliate company investments other income', 'from non controlled non affiliated investments other income', 'non control non affiliate investments other income', 'investment income from non controlled  non affiliated investments other income', 'from non controlled non affiliated investments fee income'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Non-controlled, non-affiliated investments: total interest, fee, and dividend income',
        'search_strings': ['interest fee and dividend income non control non affiliate investments'],
        'value1' : None,
        'value2' : None
    },
    {
        'row_title': 'Controlled affiliated investments: Interest income',
        'search_strings': ['from controlled affiliate company investments interest income', 'from controlled affiliated investments  interest income', 'control investments interest income', 'investment income from controlled affiliated investments interest income'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Controlled affiliated investments: Dividend income',
        'search_strings': ['from controlled affiliate company investments dividend income', 'from controlled affiliated investments dividend income', 'control investments dividend income', 'investment income from controlled affiliated investments dividend income'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Controlled affiliated investments: Payment-in-kind income',
        'search_strings': ['from controlled affiliate company investments payment in kind interest income', 'from controlled affiliated investments payment in kind interest income', 'control investments payment in kind interest income', 'investment income from controlled affiliated investments payment in kind interest income'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Controlled affiliated investments: Other income',
        'search_strings': ['from controlled affiliate company investments other income', 'from controlled affiliated investments fee income', 'from controlled affiliated investments other income', 'control investments other income', 'investment income from controlled affiliated investments other income'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Controlled affiliated investments: total interest, fee, and dividend income',
        'search_strings': ['interest fee and dividend income control investments'],
        'value1' : None,
        'value2' : None
    },
    {
        'row_title': 'Non-controlled affiliated investments: Interest income',
        'search_strings': ['from non controlled affiliate company investments interest income', 'from non controlled affiliated investments  interest income', 'affiliate investments interest income'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Non-controlled affiliated investments: Dividend income',
        'search_strings': ['from non controlled affiliate company investments dividend income', 'from non controlled affiliated investments dividend income', 'affiliate investments dividend income'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Non-controlled affiliated investments: Payment-in-kind income',
        'search_strings': ['from non controlled affiliate company investments payment in kind interest income', 'from non controlled affiliated investments payment in kind interest income', 'affiliate investments payment in kind interest income'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Non-controlled affiliated investments: Other income',
        'search_strings': ['from non controlled affiliate company investments other income', 'fee income', 'from non controlled affiliated investments other income', 'affiliate investments other income'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Non-controlled affiliated investments: total interest, fee, and dividend income',
        'search_strings': ['interest fee and dividend income affiliated investments'],
        'value1' : None,
        'value2' : None
    },
    {
        'row_title': 'Total interest income',
        'search_strings': ['investment income interest income'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Total PIK income',
        'search_strings': ['investment income payment in kind interest income'],
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Total dividend income',
        'search_strings': ['investment income dividend income'],
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Total fee income',
        'search_strings': ['investment income fee income'],
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Total investment income',
        'search_strings': ['total investment income'], 
        'value1': None,
        'value2': None
    },
]

type_of_income_list = [
    {
        'row_title': 'Total interest income',
        'search_strings': ['interest income'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Total dividend income',
        'search_strings': ['dividend income'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Total payment-in-kind income',
        'search_strings': ['payment in kind interest income'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Total other income',
        'search_strings': ['fee income'], 
        'value1': None,
        'value2': None
    },
]

type_of_investment_list = [
    {
        'row_title': 'Total non-controlled, non-affiliated investments',
        'search_strings': ['non control non affiliate investments'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Total controlled affiliated investments',
        'search_strings': ['control investments'], 
        'value1': None,
        'value2': None
    },
    {
        'row_title': 'Total non-controlled affiliated investments',
        'search_strings': ['affiliate investments'], 
        'value1': None,
        'value2': None
    },
]

# Create a DataFrame from the operations_list
desired_columns = ['row_title', 'value1', 'value2']
inv_df = pd.DataFrame([{key: d[key] for key in desired_columns} for d in investment_income_list])

print(inv_df)

                                            row_title value1 value2
0                                   Investment income   None   None
1   Non-controlled, non-affiliated investments: In...   None   None
2   Non-controlled, non-affiliated investments: Di...   None   None
3   Non-controlled, non-affiliated investments: Pa...   None   None
4   Non-controlled, non-affiliated investments: Ot...   None   None
5   Non-controlled, non-affiliated investments: to...   None   None
6   Controlled affiliated investments: Interest in...   None   None
7   Controlled affiliated investments: Dividend in...   None   None
8   Controlled affiliated investments: Payment-in-...   None   None
9     Controlled affiliated investments: Other income   None   None
10  Controlled affiliated investments: total inter...   None   None
11  Non-controlled affiliated investments: Interes...   None   None
12  Non-controlled affiliated investments: Dividen...   None   None
13  Non-controlled affiliated investments: Payment...   None   None
14  Non-controlled affiliated investments: Other i...   None   None
15  Non-controlled affiliated investments: total i...   None   None
16                              Total interest income   None   None
17                                   Total PIK income   None   None
18                              Total dividend income   None   None
19                                   Total fee income   None   None
20                            Total investment income   None   None

In [231]:
cleaned_right = clean_text_2('investment income from non controlled non affiliated investments payment in kind interest income')
cleaned_actual = clean_text_2('Investment Income: Payment in-kind interest income')
print(fuzz.ratio(cleaned_right, cleaned_actual))

return_best_match_2('Investment Income: Payment in-kind interest income', investment_income_list)


# ['from non controlled non affiliate company investments payment in kind interest income',
#  'from non controlled non affiliated investments payment in kind interest income',
#  'non control non affiliate investments payment in kind interest income',
#  'investment income from non controlled non affiliated investments payment in kind interest income']

68

'Total PIK income'

My version (6.12.23) starts here

In [232]:
def clean_text_2 (row):
    no_punc = re.sub(r'[^\w\s]', '', row)
    lower = no_punc.lower()
    no_space = re.sub(r'\s+', '', lower)
    return no_space

clean_text_2 ('Hello 45!')

'hello45'

In [233]:
def average_score_2 (row, terms):
    # find average fuzzy score among all variations of one row title
    standard_row = clean_text_2 (row)
    total_score = 0
    for search_string in terms:
        score = fuzz.partial_ratio(standard_row, clean_text_2(search_string))
        total_score += score
    if len(terms) != 0:
        average_score = total_score / len(terms) 
    else:
        average_score = 0
    return average_score 

def return_best_match_2 (text, type_list):
    # return row title of best match
    text = clean_text_2(text)
    highest_average = 0
    winner = pd.NA
    for header in type_list:
        score = average_score_2(text, header['search_strings'])
        if score > highest_average:
            highest_average = score
            winner = header['row_title']
    for header in type_list:
        for search_string in header['search_strings']:
            if search_string == text or search_string in text:
                winner = header['row_title']
                
    return winner

In [234]:
df = pd.read_csv("blackstone_operations.csv")

# print(clean_text_2(df.iloc[:, 0][0]))

def extract_investment_rows (df, start_cell_str, end_cell_str):
    try:
        start_row = df[df.iloc[:, 0].apply(clean_text_2) == start_cell_str].index[0]
        end_row = df[df.iloc[:, 0].apply(clean_text_2) == end_cell_str].index[0]
    except IndexError:
        print("Start or end cell string not found in the DataFrame.")
        return
    
    portion = df.iloc[start_row : end_row + 1, :]
    return portion

In [235]:
df_investments = extract_investment_rows(df, 'investmentincome', 'totalinvestmentincome')
df_investments
# df_investments.iloc[1][0]

,Unnamed: 0,Three Months Ended 2023,Three Months Ended 2022
0,Investment income:,NaN,NaN
1,Interest income,254221000.0,170989000.0
2,Payment in-kind interest income,9841000.0,8686000.0
3,Dividend income,—,5908000.0
4,Fee income,876000.0,14000.0
5,Total investment income,264938000.0,185597000.0

In [236]:
def extract_subheadings (df):
    subheadings = []
    for i in range(len(df)):
        row = df.iloc[i]
        if pd.isnull(row[1]) and pd.isnull(row[2]):
            subheading = clean_text_2(row[0])
            subheadings.append(subheading)
    return subheadings
        
extract_subheadings(df_investments)

['investmentincome']

In [237]:
def get_investment_income (df):
    subheading = ''
    for i in range(len(df)):
        row = df.iloc[i]
        if pd.isnull(row[1]) and pd.isnull(row[2]):
            subheading = row[0]
            continue
        header = clean_text_2(subheading + row[0])
        best_match = return_best_match(header, investment_income_list)
        print(best_match)
        for item in investment_income_list:
                    if item['row_title'] == best_match:
                        item['value1'] = row[1]
                        item['value2'] = row[2]

In [238]:
header = clean_text_2('Interest, fee and dividend income:' + 'Control investments')
print(header)
return_best_match(header, investment_income_list)

interestfeeanddividendincomecontrolinvestments

'Controlled affiliated investments: total interest, fee, and dividend income'

In [239]:
get_investment_income (df_investments)
investment_income_list
# return_best_match_2(header, investment_income_list)
# investment_income_list

Total interest income
Non-controlled, non-affiliated investments: Payment-in-kind income
Total dividend income
Total fee income
Total investment income

[{'row_title': 'Investment income',
  'search_strings': [],
  'value1': None,
  'value2': None},
 {'row_title': 'Non-controlled, non-affiliated investments: Interest income',
  'search_strings': ['from non controlled non affiliate company investments interest income',
   'from non controlled non affiliated investments interest income',
   'non control non affiliate investments interest income',
   'investment income from non controlled  non affiliated investments interest income'],
  'value1': None,
  'value2': None},
 {'row_title': 'Non-controlled, non-affiliated investments: Dividend income',
  'search_strings': ['from non controlled non affiliate company investments dividend income',
   'from non controlled non affiliated investments dividend income',
   'non control non affiliate investments dividend income',
   'investment income from non controlled  non affiliated investments dividend income'],
  'value1': None,
  'value2': None},
 {'row_title': 'Non-controlled, non-affiliated investments: Payment-in-kind income',
  'search_strings': ['from non controlled non affiliate company investments payment in kind interest income',
   'from non controlled non affiliated investments payment in kind interest income',
   'non control non affiliate investments payment in kind interest income',
   'investment income from non controlled  non affiliated investments payment in kind interest income'],
  'value1': '9841000.0',
  'value2': 8686000.0},
 {'row_title': 'Non-controlled, non-affiliated investments: Other income',
  'search_strings': ['from non controlled non affiliate company investments other income',
   'from non controlled non affiliated investments other income',
   'non control non affiliate investments other income',
   'investment income from non controlled  non affiliated investments other income',
   'from non controlled non affiliated investments fee income'],
  'value1': None,
  'value2': None},
 {'row_title': 'Non-controlled, non-affiliated investments: total interest, fee, and dividend income',
  'search_strings': ['interest fee and dividend income non control non affiliate investments'],
  'value1': None,
  'value2': None},
 {'row_title': 'Controlled affiliated investments: Interest income',
  'search_strings': ['from controlled affiliate company investments interest income',
   'from controlled affiliated investments  interest income',
   'control investments interest income',
   'investment income from controlled affiliated investments interest income'],
  'value1': None,
  'value2': None},
 {'row_title': 'Controlled affiliated investments: Dividend income',
  'search_strings': ['from controlled affiliate company investments dividend income',
   'from controlled affiliated investments dividend income',
   'control investments dividend income',
   'investment income from controlled affiliated investments dividend income'],
  'value1': None,
  'value2': None},
 {'row_title': 'Controlled affiliated investments: Payment-in-kind income',
  'search_strings': ['from controlled affiliate company investments payment in kind interest income',
   'from controlled affiliated investments payment in kind interest income',
   'control investments payment in kind interest income',
   'investment income from controlled affiliated investments payment in kind interest income'],
  'value1': None,
  'value2': None},
 {'row_title': 'Controlled affiliated investments: Other income',
  'search_strings': ['from controlled affiliate company investments other income',
   'from controlled affiliated investments fee income',
   'from controlled affiliated investments other income',
   'control investments other income',
   'investment income from controlled affiliated investments other income'],
  'value1': None,
  'value2': None},
 {'row_title': 'Controlled affiliated investments: total interest, fee, and dividend income',
  'search_strings': ['interest fee and dividend income control investments'],
  'value1': None,
  'value2': None},
 {'row_title': 'Non-controlled affiliated investments: Interest income',
  'search_strings': ['from non controlled affiliate company investments interest income',
   'from non controlled affiliated investments  interest income',
   'affiliate investments interest income'],
  'value1': None,
  'value2': None},
 {'row_title': 'Non-controlled affiliated investments: Dividend income',
  'search_strings': ['from non controlled affiliate company investments dividend income',
   'from non controlled affiliated investments dividend income',
   'affiliate investments dividend income'],
  'value1': None,
  'value2': None},
 {'row_title': 'Non-controlled affiliated investments: Payment-in-kind income',
  'search_strings': ['from non controlled affiliate company investments payment in kind interest income',
   'from non controlled affiliated investments payment in kind interest income',
   'affiliate investments payment in kind interest income'],
  'value1': None,
  'value2': None},
 {'row_title': 'Non-controlled affiliated investments: Other income',
  'search_strings': ['from non controlled affiliate company investments other income',
   'fee income',
   'from non controlled affiliated investments other income',
   'affiliate investments other income'],
  'value1': None,
  'value2': None},
 {'row_title': 'Non-controlled affiliated investments: total interest, fee, and dividend income',
  'search_strings': ['interest fee and dividend income affiliated investments'],
  'value1': None,
  'value2': None},
 {'row_title': 'Total interest income',
  'search_strings': ['investment income interest income'],
  'value1': '254221000.0',
  'value2': 170989000.0},
 {'row_title': 'Total PIK income',
  'search_strings': ['investment income payment in kind interest income'],
  'value1': None,
  'value2': None},
 {'row_title': 'Total dividend income',
  'search_strings': ['investment income dividend income'],
  'value1': '— ',
  'value2': 5908000.0},
 {'row_title': 'Total fee income',
  'search_strings': ['investment income fee income'],
  'value1': '876000.0',
  'value2': 14000.0},
 {'row_title': 'Total investment income',
  'search_strings': ['total investment income'],
  'value1': '264938000.0',
  'value2': 185597000.0}]

In [128]:
def clean_text_op(row):
    # Strip out special characters/punction
    text = row.lower().strip()
    stripped_string = re.sub(r'[^a-zA-Z0-9\s]+', '', text)
    return stripped_string

def save_portion_of_table(csv_file, start_cell_str, end_cell_str):
    df = pd.read_csv(csv_file)

    # Find the indices of the starting and ending cells
    try:
        start_row = df[df.iloc[:, 0].apply(clean_text_op) == start_cell_str].index[0]
        end_row = df[df.iloc[:, 0].apply(clean_text_op) == end_cell_str].index[0]
    except IndexError:
        print("Start or end cell string not found in the DataFrame.")
        return
    
    # Extract the portion of the table based on the row indices
    portion = df.iloc[start_row:end_row+1, :]
    
    # Save the extracted portion to a new CSV file
    investment_income_append(portion)

# for loop to find rows with empty values, within it go down each row, append it to the empty value row, match it to truth table and put value into table
def investment_income_append(df):
    for index, row in df.iloc[1:].iterrows():
        if pd.isnull(row[1]) and pd.isnull(row[2]):
            #print(row[0])
            for index1, row1 in df.iloc[(index+1):].iterrows():
                if pd.isnull(row1[1]) and pd.isnull(row1[2]):
                    break
                header = return_best_match(row[0] + " " + row1[0], investment_income_list)
                first_value = row1[1]
                sec_value = row1[2]
                # Store the value in investment_income_list
                for item in investment_income_list:
                    if item['row_title'] == header:
                        item['value1'] = first_value
                        item['value2'] = sec_value


csv_file = 'fs_kkr_operations.csv'
start_cell_str = 'investment income'
end_cell_str = 'total investment income'

save_portion_of_table(csv_file, start_cell_str, end_cell_str)

# Create a DataFrame from the operations_list
desired_columns = ['row_title', 'value1', 'value2']
inv_df = pd.DataFrame([{key: d[key] for key in desired_columns} for d in investment_income_list])

print(inv_df)

NameError: name 'investment_income_list' is not defined

In [1240]:
def clean_text_op(row):
    # Strip out special characters/punction
    text = row.lower().strip()
    stripped_string = re.sub(r'[^a-zA-Z0-9\s]+', '', text)
    return stripped_string

def save_portion_of_table(csv_file, start_cell_str, end_cell_str):
    df = pd.read_csv(csv_file)

    # Find the indices of the starting and ending cells
    try:
        start_row = df[df.iloc[:, 0].apply(clean_text_op) == start_cell_str].index[0]
        end_row = df[df.iloc[:, 0].apply(clean_text_op) == end_cell_str].index[0]
    except IndexError:
        print("Start or end cell string not found in the DataFrame.")
        return
    
    # Extract the portion of the table based on the row indices
    portion = df.iloc[start_row:end_row+1, :]
    
    # Save the extracted portion to a new CSV file
    investment_income_append(portion)

# for loop to find rows with empty values, within it go down each row, append it to the empty value row, match it to truth table and put value into table
def investment_income_append(df):
    if pd.isna(df.iloc[1, 1]) and pd.isna(df.iloc[1, 2]):
        if df.iloc[1, 0] == 'Interest, fee and dividend income:':
            for index, row in df.iloc[2:].iterrows():
                for header in investment_income_list:
                    for search_string in header['search_strings']:
                        if search_string == clean_text(row[0]):
                            winner = header['row_title']
                            first_value = row[1]
                            sec_value = row[2]
                            # Store the value in investment_income_list
                            for item in investment_income_list:
                                if item['row_title'] == winner:
                                    item['value1'] = first_value
                                    item['value2'] = sec_value
        else:
            for index, row in df.iloc[1:].iterrows():
                for index1, row1 in df.iloc[(index+1):].iterrows():
                    if pd.isnull(row1[1]) and pd.isnull(row1[2]):
                        break
                    header = return_best_match(row[0] + " " + row1[0], investment_income_list)
                    first_value = row1[1]
                    sec_value = row1[2]
                    # Store the value in investment_income_list
                    for item in investment_income_list:
                        if item['row_title'] == header:
                            item['value1'] = first_value
                            item['value2'] = sec_value
    else:
        for index, row in df.iloc[1:].iterrows():
            for header in investment_income_list:
                for search_string in header['search_strings']:
                    if search_string == clean_text(row[0]):
                        winner = header['row_title']
                        first_value = row[1]
                        sec_value = row[2]
                        # Store the value in investment_income_list
                        for item in investment_income_list:
                            if item['row_title'] == winner:
                                item['value1'] = first_value
                                item['value2'] = sec_value



csv_file = 'fs_kkr_operations.csv'
start_cell_str = 'investment income'
end_cell_str = 'total investment income'

save_portion_of_table(csv_file, start_cell_str, end_cell_str)

# Create a DataFrame from the operations_list
desired_columns = ['row_title', 'value1', 'value2']
inv_df = pd.DataFrame([{key: d[key] for key in desired_columns} for d in investment_income_list])

print(inv_df)

                                            row_title       value1  \
0                                   Investment income         None
1   Non-controlled, non-affiliated investments: In...         None
2   Non-controlled, non-affiliated investments: Di...         None
3   Non-controlled, non-affiliated investments: Pa...   10000000.0
4   Non-controlled, non-affiliated investments: Ot...         None
5   Controlled affiliated investments: Interest in...   19000000.0
6   Controlled affiliated investments: Dividend in...         None
7   Controlled affiliated investments: Payment-in-...         None
8     Controlled affiliated investments: Other income         None
9   Non-controlled affiliated investments: Interes...    3000000.0
10  Non-controlled affiliated investments: Dividen...   63000000.0
11  Non-controlled affiliated investments: Payment...   10000000.0
12  Non-controlled affiliated investments: Other i...   63000000.0
13                            Total investment income  456000000.0

         value2
0          None
1          None
2          None
3    14000000.0
4          None
5    10000000.0
6          None
7          None
8          None
9    10000000.0
10   50000000.0
11   14000000.0
12   50000000.0
13  396000000.0

In [1241]:
# Merge the DataFrames based on a common column
inv_df['value1'] = inv_df['value1'].astype(object)
inv_df['value2'] = inv_df['value2'].astype(object)

op_df['value1'] = op_df['value1'].astype(object)
op_df['value2'] = op_df['value2'].astype(object)

# Concatenate the DataFrames
merged_df = pd.concat([inv_df, op_df], ignore_index=True)
#merged_df = pd.merge(inv_df, op_df, on=['row_title', 'value1', 'value2'], how='outer')
print(merged_df)

                                            row_title       value1  \
0                                   Investment income         None
1   Non-controlled, non-affiliated investments: In...         None
2   Non-controlled, non-affiliated investments: Di...         None
3   Non-controlled, non-affiliated investments: Pa...   10000000.0
4   Non-controlled, non-affiliated investments: Ot...         None
5   Controlled affiliated investments: Interest in...   19000000.0
6   Controlled affiliated investments: Dividend in...         None
7   Controlled affiliated investments: Payment-in-...         None
8     Controlled affiliated investments: Other income         None
9   Non-controlled affiliated investments: Interes...    3000000.0
10  Non-controlled affiliated investments: Dividen...   63000000.0
11  Non-controlled affiliated investments: Payment...   10000000.0
12  Non-controlled affiliated investments: Other i...   63000000.0
13                            Total investment income  456000000.0
14                                           EXPENSES         None
15                                   Interest expense         None
16                               Base management fees         None
17                                     Incentive fees         None
18                                Administrative fees         None
19                General and administrative expenses         None
20                                     Total expenses         None

         value2
0          None
1          None
2          None
3    14000000.0
4          None
5    10000000.0
6          None
7          None
8          None
9    10000000.0
10   50000000.0
11   14000000.0
12   50000000.0
13  396000000.0
14         None
15         None
16         None
17         None
18         None
19         None
20         None